@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}
@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: oklch(97% 0.02 240);
  --color-base-200: oklch(92% 0.02 240);
  --color-base-300: oklch(87% 0.02 240);
  --color-base-content: oklch(20% 0.1 260);

  --color-primary: oklch(20% 0.1 260);
  --color-primary-content: oklch(95% 0.02 240);

  --color-secondary: oklch(75% 0.15 150);
  --color-secondary-content: oklch(20% 0.1 260);

  --color-accent: oklch(80% 0.25 90);
  --color-accent-content: oklch(20% 0.1 260);

  --color-neutral: oklch(55% 0.05 240);
  --color-neutral-content: oklch(95% 0.02 240);

  --color-info: oklch(65% 0.2 220);
  --color-info-content: oklch(95% 0.02 240);

  --color-success: oklch(60% 0.25 140);
  --color-success-content: oklch(95% 0.02 240);

  --color-warning: oklch(60% 0.25 60);
  --color-warning-content: oklch(95% 0.02 240);

  --color-error: oklch(60% 0.3 30);
  --color-error-content: oklch(95% 0.02 240);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Vazirmatn", Arial, Helvetica, sans-serif;
}
